#index{
    margin-top: 0px;
    float: left;
}
#index span{
    float: right;
}
#user{
    margin-top: 0px;
    float: right;
}
#user span{
    float: right;
}
#bts{
    width: 200px;
    height: 50px;
    border: none;
    background: rgba(255,140,0,1);
    color: white;
    outline:none;
    cursor: pointer;
    font-size: medium;
    margin-right: 5px;
}
#btt{
    width: 200px;
    height: 50px;
    border: none;
    background: rgba(255,140,0,0);
    color: white;
    outline:none;
    cursor: pointer;
    font-size: medium;
}
#btt:hover{
    background: rgba(255,140,0,1);
}
#btn{
    margin-left:25px;
    width: 70px;
    height: 50px;
    background: rgba(0,0,0,0.8);
    color: white;
    outline:none;
    cursor: pointer;
    border: none;
}
#btn:hover{
    background: rgba(0,0,0,1);
}