<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>TestJSP</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>UserLoginServlet</servlet-name>
    <servlet-class>com.neuedu.servlet.UserLoginServlet</servlet-class>
    <init-param>
      <param-name>loginScore</param-name>
      <param-value>2</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLoginServlet</servlet-name>
    <url-pattern>/UserLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserLogoutServlet</servlet-name>
    <servlet-class>com.neuedu.servlet.UserLogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogoutServlet</servlet-name>
    <url-pattern>/UserLogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserRegisterServlet</servlet-name>
    <servlet-class>com.neuedu.servlet.UserRegisterServlet</servlet-class>
    <init-param>
      <param-name>registerScore</param-name>
      <param-value>20</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegisterServlet</servlet-name>
    <url-pattern>/UserRegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserQueryServlet</servlet-name>
    <servlet-class>com.neuedu.servlet.UserQueryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserQueryServlet</servlet-name>
    <url-pattern>/UserQueryServlet</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>charSet</param-name>
    <param-value>utf-8</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>UserDeleteServlet</display-name>
    <servlet-name>UserDeleteServlet</servlet-name>
    <servlet-class>com.neuedu.servlet.UserDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserDeleteServlet</servlet-name>
    <url-pattern>/UserDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserDeleteBatchServlet</display-name>
    <servlet-name>UserDeleteBatchServlet</servlet-name>
    <servlet-class>com.neuedu.servlet.UserDeleteBatchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserDeleteBatchServlet</servlet-name>
    <url-pattern>/UserDeleteBatchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ValCodeServlet</display-name>
    <servlet-name>ValCodeServlet</servlet-name>
    <servlet-class>com.neuedu.servlet.ValCodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValCodeServlet</servlet-name>
    <url-pattern>/ValCodeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestAjaxServlet</display-name>
    <servlet-name>TestAjaxServlet</servlet-name>
    <servlet-class>com.neuedu.servlet.TestAjaxServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestAjaxServlet</servlet-name>
    <url-pattern>/TestAjaxServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckUsernameServlet</display-name>
    <servlet-name>CheckUsernameServlet</servlet-name>
    <servlet-class>com.neuedu.servlet.CheckUsernameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckUsernameServlet</servlet-name>
    <url-pattern>/CheckUsernameServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetSQLServlet</display-name>
    <servlet-name>GetSQLServlet</servlet-name>
    <servlet-class>com.neuedu.servlet.GetSQLServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetSQLServlet</servlet-name>
    <url-pattern>/GetSQLServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestUploadSingleServlet</display-name>
    <servlet-name>TestUploadSingleServlet</servlet-name>
    <servlet-class>com.neuedu.servlet.TestUploadSingleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestUploadSingleServlet</servlet-name>
    <url-pattern>/TestUploadSingleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestUploadMultiServlet</display-name>
    <servlet-name>TestUploadMultiServlet</servlet-name>
    <servlet-class>com.neuedu.servlet.TestUploadMultiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestUploadMultiServlet</servlet-name>
    <url-pattern>/TestUploadMultiServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestDownloadServlet</display-name>
    <servlet-name>TestDownloadServlet</servlet-name>
    <servlet-class>com.neuedu.servlet.TestDownloadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestDownloadServlet</servlet-name>
    <url-pattern>/TestDownloadServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>CharacterEncodingFilter</filter-name>
    <filter-class>com.neuedu.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>charSet</param-name>
      <param-value>utf-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CharacterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>LogTimeFilter</display-name>
    <filter-name>LogTimeFilter</filter-name>
    <filter-class>com.neuedu.filter.LogTimeFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LogTimeFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>WeatherQueryServlet</display-name>
    <servlet-name>WeatherQueryServlet</servlet-name>
    <servlet-class>com.neuedu.servlet.WeatherQueryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WeatherQueryServlet</servlet-name>
    <url-pattern>/WeatherQueryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserRetrievePasswordServlet</display-name>
    <servlet-name>UserRetrievePasswordServlet</servlet-name>
    <servlet-class>com.neuedu.servlet.UserRetrievePasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRetrievePasswordServlet</servlet-name>
    <url-pattern>/UserRetrievePasswordServlet</url-pattern>
  </servlet-mapping>
</web-app>